.hero {
    width: 100%;
    height: 100vh;

    h1 {
        span {
            display: block;
            margin-top: 25px;
        }
    }
}

.navbar {
    box-shadow: none !important;
    padding: 25px 100px !important;

    &.top-nav-collapse {
        background-color: #161C27;
        padding: 5px 100px !important;
    }
}

.partners {
    padding: 100px 0px;
    text-align: center;

    img {
        width: 100%;
    }

    .col-4 {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .navbar {
        background-color: #161C27;
        padding: 10px !important;

        &.top-nav-collapse {
            padding: 10px !important;
        }

        img {
            max-height: 50px;
            width: auto;
        }
    }
}

.navbar-nav {
    .nav-link {
        font-size: 20px;
        margin: 15px;
    }
}

section.timer {
    padding: 100px 0px;

    h2 {
        text-transform: uppercase;
        text-align: center;
    }

    .content {
        text-align: center;

        .counter {
            display: inline-block;
            padding: 15px 25px;
            margin: 15px;

            span {
                display: block;

                &:first-child {
                    font-size: 40px;
                    font-weight: bold;
                }
            }
        }
    }
}

section.about {
    padding: 100px 0px;
    background-color: #33B5E5;
    // background-color: #005ea6;
    color: #fff;

    h2 {
        margin-bottom: 25px;
        text-transform: uppercase;
        text-align: center;
    }
}

.icon-wrapper {
    text-align: center;
    margin-top: 75px;

    .icon {
        display: block;
        font-size: 50px;
        margin-bottom: 25px;
    }
}

section.speakers {
    padding: 100px 0px;

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    p {
        text-align: center;
        font-size: 18px;
        margin-top: 15px;
    }

    img {
        width: 100%;
    }

    .soon {
        margin-top: 30px;
        font-style: italic;
    }
}

.speaker {
    position: relative;

    >div {
        position: absolute;
        overflow: hidden;
        padding: 15px;
        bottom: 0px;
        width: 100%;
        color: #fff;
        height: 65px;
        text-align: center;
        background-color: rgba(#33B5E5, 0.7);
        transition: all .3s ease-in-out;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    span {
        font-size: 25px;
        font-weight: bold;
    }

    &:hover {
        >div {
            height: 100%;
        }
    }
}

footer {
    background-color: #161C27;
    padding: 50px 0px;
    color: #ddd;

    h2 {
        font-size: 20px;
    }

    a {
        color: #fff;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

section.itad {
    padding: 100px 0px;

    h2 {
        text-align: center;
    }
}

section.location {
    >div {
        position: static !important;
        width: 100% !important;
        height: 550px !important;
    }
}

section.location {
    padding: 100px 0px 0px 0px;

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }
}

section {
    h2 {
        text-transform: uppercase;
    }
}

section.itad {
    text-align: center;

    h2 {
        margin-bottom: 50px;
    }

    .view {
        display: inline-block;
        margin: -5px;
        max-width: 100%;
    }
}

.agenda {
    padding: 100px 0px;

    text-align: center;
}